body {
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #e5e5dc;
}

:root {
    --navy : #26495c ;
    --ochre : #c4a35a ;
    --cream: #c66b3d ;
    --lightGrey: #e5e5dc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: var(--cream) ;
  font-style: italic;
  transition: transform 0.3s ease-in-out;
}

h5{
  color: var(--navy);
  font-style: italic;
  font-weight: bold;
  font-size: 1.3em;

}
h5:hover {
  transform: scale(1.02);
  cursor: pointer;
}

p {
  font-size: 1.3em;
} 




/* ---------------  protfolio CSS all below here ----------------------------  */

p.card-text {
  font-size: 1em;
}
 

.cardContainer{
  width: 25rem;
}
 
 

/* using this css to help show that the images are clickable */
.card-img-top {
  transition: transform 0.3s ease-in-out;
  padding-bottom: 10px;
  border-radius: 50px; 
} 
.card-img-top:hover {
  transform: scale(1.02);
  cursor: pointer;
}

/* this will help toggle the display of the cards on the portfolio page */

.hidden {
  display: none;
}

.list1 {
  display: block;
}

.list2 {
  display: block;
}

.list3 {
  display: block;
}

.list4 {
  display: block;
}